@model PaginatedList<BookViewModel>
@{
    ViewData["Title"] = "Library";
}

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            string detailsUrl = Url.Action("Details", "Books", new { Id = book.Id });
            <tr>
                <td>
                    <a href="@detailsUrl" class="text-decoration-none text-dark">
                        <img src="@book.ImagePaths[0]" alt="Cover" style="max-height: 100px" />
                    </a>
                </td>
                <td>
                    <a href="@detailsUrl" class="text-decoration-none text-dark">
                        @book.Title
                    </a>
                </td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.Year</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Books" asp-action="Create" class="mt-1">Добавить книгу</a>

@Html.RenderPagination(
    Model.PageIndex,
    Model.TotalPages,
    Url.Action("Index", "Books") + "?page={page}"
)